<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>error Dirty-Dancing</title>
</head>
<body>
  <p>{{ message }}</p>

  <script>
    // アナリティクス-SDKで以下のような実装をしている場合を想定
    // postMessageの第二引数に'*'を指定している場合、
    // どのオリジンに対してもメッセージを送信できてしまう。
    window.opener.postMessage({
      type: 'error',
      message: '{{ message }}',
      location: 'location: ' + location.href
    }, '*',
    );
  </script>
</body>
</html>